<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1436.vfa_244484591f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>SKIP_PARALLEL_STAGE</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>SKIP_PARALLEL_STAGE</name>
          <description>Skip the parallel execution stage</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3961.ve48ee2c44a_b_3">
    <script>pipeline {
    agent any 

    parameters {
        booleanParam(name: &apos;SKIP_PARALLEL_STAGE&apos;, defaultValue: false, description: &apos;Skip the parallel execution stage&apos;)
    }

    stages {
        stage(&apos;Stage 1: Preparation&apos;) {
            steps {
                echo &apos;Preparing...&apos;
                // Add preparation steps here
            }
        }
        
        stage(&apos;Stage 2: Parallel Execution&apos;) {
            when {
                expression { !params.SKIP_PARALLEL_STAGE }
            }
            parallel {
                stage(&apos;Parallel Job 1&apos;) {
                    steps {
                        echo &apos;Running Parallel Job 1...&apos;
                        // Add steps for parallel job 1 here
                    }
                }
                stage(&apos;Parallel Job 2&apos;) {
                    steps {
                        echo &apos;Running Parallel Job 2...&apos;
                        // Add steps for parallel job 2 here
                    }
                }
            }
        }

        stage(&apos;Stage 3: Cleanup&apos;) {
            steps {
                echo &apos;Cleaning up...&apos;
                // Add cleanup steps here
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>